.debug-toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: #ffffff;
}

.debug-toolbar label span {
    vertical-align: top;
}